/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
	line-height: 1;
	-webkit-text-size-adjust: none!important;
	-moz-text-size-adjust: none!important;
	text-size-adjust: none!important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, button, img, input, select, textarea, li, div, p {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* a {
	-webkit-touch-callout: none;
} */

html, body, address, article, aside, footer, header, h1, h2, h3, h4, h5, h6, main,
nav, section, blockquote, dd, div, dl, dt, li, ol, p, pre, ul, iframe, td,
textarea, form {
	word-break: break-all;
	-webkit-overflow-scrolling: touch;
	resize: none;
}

button, input, textarea {
/* , datalist, meter, option, progress, select */
	outline: none;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
}

button, a {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[v-cloak] {
	display: none;
}