$avatarBorderColor: #eee7d8 #f0f5f6 #f0f5f6 #eee7d8;
$avatarShadowColor: rgba(#000, 0.2);
$cubeFontColor: #555;
$cubeBorderColor: rgba(#000, 0.6);
$cubeColorMap: (#d8cea7, #df1317, #5f2a62, #a976c3, #a0de59, #466b5a);
$cubeShadowColor0: rgba(#000, 0.2);
$cubeShadowColor1: rgba(#000, 0.4);
$footerFontColor: #555;
$footerBgColor: #fff;
$footerLinkColor: #5699d2;
$footerLinkActiveColor: #1d3f72;
$footerBorderColor: rgba(#555, 0.3);
$bodyBgColor: #fff;
$bodyFontColor: #333;
$logoColor: #1d3f72;
$menuBarBgColor: #f7f7f7;
$menuBarModalColor: rgba(#000, 0.2);
$menuBarModalEnterColor: rgba(#000, 0);
$menuBarShadowColor: rgba(#000, 0.4);
$menuDescColor: #34495e;
$menuItemIconColor: #333;
$menuItemLinkColor: #34495e;
$menuItemLinkActiveColor: #5699d2;
$menuItemUnderlineColor: #5699d2;
$menuItemLinkMatchedColor: #000;
$scrollTopBtnColor: #785471;
$scrollTopBtnBgColor: #f9f9f9;
$scrollTopBtnShadowColor: rgba(#785471, 0.3);
$scrollTopBtnShadowActiveColor: rgba(#785471, 0.6);
$scrollTopBtnIconActiveColor: #fff;
$snsIconColor: #444;
$snsIconActiveColor: #000;
$searchInputColor: #333;
$searchInputBorderColor: #5699d2;
$searchInputShadowColor: rgba(#1d3f72, 0.5);
$searchInputPlaceholderColor: #888;
$toolBarIconColor: #1d3f72;
$toolBarIconActiveColor: #5699d2;
$toolBarBgColor: rgba(#f9f9f9, 0.9);
$toolBarShadowColor: rgba(#000, 0.2);
$selectionColor: #d8ebf9;
$previewTitleColor: #000;
$previewTitleActiveColor: #555;
$previewEndLineColor: #a2b4bc;
$previewBgColor: #fff;
$previewIconColor: #555;
$previewInfoColor: #999;
$previewReadMoreColor: #555;
$previewReadMoreActiveColor: #888;
$paginationFontColor: #06628d;
$paginationCurFontColor: #fff;
$paginationItemActiveBgColor: #ddd;
$postTitleColor: #000;
$postInfoColor: #999;
$postInfoIconColor: #555;
$postLastModifiedColor: #000;
$postTagColor: #000;
$tagColor: #555;
$tagBgColor: #d8ebf9;
$tagBorderColor: #5699d2;
$tagBgHoverColor: #f0f5f6;
$tagBorderHoverColor: #a2b4bc;
$tagPageTitleColor: #fff;
$tagPageDescColor: #fff;
$tagPageTagTitleColor: #4996a2;
$tagPageUlLineColor: #f0f5f6;
$tagPageLiColor: #555;
$tagPageLiBorderColor: #ccc;
$tagPageLiDotColor: #a2b4bc;
$tagPageLiActiveColor: #5699d2;
$archivesPageGroupTitleColor: #5e6fa3;
$archivesPageDateColor: #999;
$aboutPageTitleColor: #f7f7f7;
$friendsLinkBgColor: #d8ebf9;
$friendsLinkBorderColor: #d8ebf9;
$friendsLinkShadowColor: rgba(#5699d2, 0.3);
$friendsLinkActiveShadowColor: rgba(#1d3f72, 0.3);
$friendsAvatarBorderColor: #fff;
$friendsNameColor: #333;
$friendsDescColor: #828282;
$friendsNoneColor: #515151;
$searchTitleColor: #38619d;
$searchItemColor: #363636;
$searchItemActiveColor: #5699d2;
$searchItemBorderColor: rgba(#555, 0.4);
$searchItemDotColor: #38619d;
$searchNotFoundColor: #555;
$errorMsgColor: #363636;
$donateBtnBgColor: #f96854;
$donateBtnActiveBgColor: #e52409;
$qrcodeTitleColor: #333;
$bitcoinAddrColor: #555;