$bgColor: #f9f9f9;
$logoColor: #1d3f72;
$iconColor: #1d3f72;
$iconActiveColor: #5699d2;
$fontColor: #333;
$borderColor: #5699d2;
$boxShadowColor: #1d3f72;
$placeHolderColor: #888;
$menuBarBgColor: #f7f7f7;